.sections__wrapper {
  background-color: pink;
  min-height: 100vh;
}

.authorization {
  padding-top: 50px;
}

.authorization__container {
  background-color: palevioletred;
  padding: 40px;
  border: 1px solid black;
  width: 800px;

  @include media-tablet {
    width: 80%;
  }
}

.authorization__login-title {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.authorization__login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.authorization__login-button {
  width: 150px;
  background: lightpink;
}

.authorization__error-message {
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  background: darkred;
  color: white;
  padding: 8px;
}

.project {
  padding: 40px 0 40px 0;
}

.project__hello-title {
  padding-bottom: 40px;
  font-weight: 800;
}

.project__title {
  padding-bottom: 20px;
}

.project__title-board {
  padding-top: 30px;
}

.project__task-form {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.project__task-button {
  background-color: cadetblue;
}

.project__task-error-message {
  padding-top: 10px;
  color: brown;
}

.project__project-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 400;
  list-style-type: decimal;
  list-style-position: inside;
  background-color: white;
  border: 2px solid black;
  padding: 35px;
}

.registration {
  padding-top: 50px;
}

.registration__container {
  background-color: cadetblue;
  padding: 40px;
  border: 1px solid black;
  width: 800px;

  @include media-tablet {
    width: 80%;
  }
}

.registration__login-title {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.registration__login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.registration__login-button {
  width: 150px;
  background: teal;
}


.registration__error-message {
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  background: darkred;
  color: white;
  padding: 8px;
}

.registration__input-message {
  padding-top: 6px;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 400;
  color: brown;
}


.lds-facebook{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.loaded-hiding {
  opacity: 0.7;
}

.loaded .lds-facebook {
  display: none;
}
